---
layout: default
title: Blog - Mónica Martínez
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}"><h1 >{{ post.title }}</h1></a>
      <span><em>{% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }} de
            {% case m %}
              {% when '1' %}Enero
              {% when '2' %}Febrero
              {% when '3' %}Marzo
              {% when '4' %}Abril
              {% when '5' %}Mayo
              {% when '6' %}Junio
              {% when '7' %}Julio
              {% when '8' %}Agosto
              {% when '9' %}Septiembre
              {% when '10' %}Octubre
              {% when '11' %}Noviembre
              {% when '12' %}Diciembre
            {% endcase %}
            del {{ post.date | date: "%Y" }}</em></span>
      {{ post.excerpt }}
      <div class="continue">
        <a href="{{ post.url | prepend: site.baseurl }}">&bull;&bull;&bull;</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">atrás</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">atrás</a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">siguiente</a>
    {% endif %}
  </div>

</div>
