---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">Todas las entradas</h2>
    <h2 class="header categories" itemprop="headline"><small>agrupadas por

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Años
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/posts-by-categories/">Categorias</a></li>
        </ul>
      </div>

    </small></h2>

      {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
        <ul>
      {% endif %}

          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                  {% when '1' %}Enero
                  {% when '2' %}Febrero
                  {% when '3' %}Marzo
                  {% when '4' %}Abril
                  {% when '5' %}Mayo
                  {% when '6' %}Junio
                  {% when '7' %}Julio
                  {% when '8' %}Agosto
                  {% when '9' %}Septiembre
                  {% when '10' %}Octubre
                  {% when '11' %}Noviembre
                  {% when '12' %}Diciembre
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </small>
          </li>
      {% if forloop.last %}
        </ul>
      </div>
      {% else %}
        {% if this_year != next_year %}
          </ul>
        </div>
        <div class="col-md-12 content-panel articles">
          <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}

    {% endfor %}
    </div>

  </div>
